 * {
margin:0;
padding:0;
}

/* Layout */

#container {
	text-align: left;
	width : 1000px;
	margin-left : auto;
	margin-right : auto;
}
#logo{
    clear: both;
	background-color: #003d4c;
	padding: 25px;
	height : 50px;
	margin:  0;
}
#menu{
    line-height: 100%;
    margin: 7px 0 ;
}
#content{
	clear: both;
}

#sidebar-left{
    display: inline;
    float : left;
    width : 200px;
}
#div_content{
	padding: 0 20px;
    display: inline;
    float : left;
    width : 560px;
	min-height:400px;  
	/*background-color:#E0FFFF; */
}
#sidebar-right{
    display: inline;
    float : right;
    width : 200px;
	/* background-color:#9AFEFF;
	min-height : 400px; */
}

#div_studuser{
	float : left;
	width : 540px;
	/* border: 1px solid Blue;*/
}

#div_studuser_menu{
	float : right;
	width : 200px;
}
#wrap_footer{
	clear: both;
	padding: 7px 0;
}
#footer {
	background-color: #003d4c;
	height : 30px;
	vertical-align: text-bottom;	
}

.usermenu{
    line-height: 120%;
    font-size: 15px;
    /* font-weight: bold; */
}

.links_footer
{
	padding-top: 4px;
}

 #logo  a {
	color: #fff;
	text-decoration: none;	
}
 #logo  a:hover {
	color: #fff;
	text-decoration: underline;
}
#footer   a {
	color: #fff;
	text-decoration: none;	
}
#footer   a:hover {
	color: #fff;
	text-decoration: underline;
}

/*  Login */

#div_login{
 width : 180px;
}

.login input {
	display: block;
	font-family:"Trebuchet MS";
	padding: 2px;
	width: 100px;
	margin : 0; 
	border: 1px solid Blue;
    BACKGROUND-COLOR: #f5f5f5;	
}

.login  label {
	display: block;
	margin-bottom : 10px; 
	float :none;
}

.login input[type=submit] {
	padding: 2px 5px;
	width: 70px;
	margin : 10px;
	vertical-align: bottom;
}

.login_gor form
{
	margin : 0;
	padding: 0;
	padding-top: 20px;
}

.login_gor input {
	display: inline;
	font-family: arial;
	width: 100px;
	height : 15px;
    line-height: 13px;
	font-size: 13px;
	margin : 0;
	margin-right: 5px;
	padding: 0; 
	border: 1px solid Blue;
    BACKGROUND-COLOR: #f5f5f5;	
}

.login_gor input[type=submit] {
	display: inline;
	font-family: arial;
	width: 40px;
	height : 15px;
    line-height: 13px;
	font-size: 13px;
	margin : 0;
	padding: 0;
}

/* User View */



.label_corner{
	display: inline;
	font-weight: bold;
	width: 250px;
}

.geo_datum{
 color: #993;
 font-size: 85%;
}

.description{
 color: #993;
 font-size: 90%;
}

.description a {
 font-size: 90%;
}

.info {
 text-decoration: underline;
 color: #003d4c;
 background-color: inherit;
 font-weight: bold;
 cursor : help;
}

a.edit  {
 font-size: 90%;
 margin-right: 15px;
 margin-top: 15px;
 color: #999;
}

/* General Style Info */
body {
	font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
	font-size: 13px;
	line-height: 150%;
	/*text-align:center;*/
}
a {
	background-color: inherit;
	color: #003d4c;
	text-decoration: underline;
	font-size: 13px;
}
a:hover {
	background-color: inherit;
	color: #003d4c;
	text-decoration:none;
}
a img {
	border:none;
}
h1, h2, h3, h4 {
	background-color: inherit;
	font-weight: normal;
	margin: 25px 25px;
}
h1 {
	color: #003d4c;
	font-size: 170%;
}
h2 {
	color: #e32;
	font-size: 130%;
}
h3 {
	color:  #f32;
	font-size: 125%;
}
h4 {
	color: #993;
	font-size: 115%;
}
ul, li {
	margin: 0 10px;
}


/* Forms */

form {
	/* clear: both; */
	/* margin-right: 20px; */
	margin-top: 10px;
	padding: 0;
	width: 100%;
}

fieldset {
	/* border: 1px solid #ccc;
	 margin-top: 30px; 
	padding: 16px 20px; */
}
form div {
	clear: both;
	vertical-align: text-top;
}

form div.input {
	color: #444;
}
form div.required {
	color: #333;
}

label {
	display: block;
	padding-right: 20px;
	margin-bottom : 10px; 
	float: left;
	width: 170px;
}



.register label {
	display: block;
	padding-right: 20px;
	margin-left : 10px;
	margin-bottom : 10px; 
	float: left;
	width: 170px;
}

input {
	display: block;
	font-family:"Trebuchet MS";
	padding: 2px;
	width: 300px;
	margin : 0;
	font-size: 14px;
	border: 1px solid Blue;
    background-color: #f5f5f5;
}

textarea {
	display: block;
	font-family:"Trebuchet MS";
	padding: 2px;
	width: 300px;
	height : 40px;
	margin:0 0 7px 0;
	font-size: 14px;
	border: 1px solid Blue;
    background-color: #f5f5f5;
}


textarea.msq {
	display: block;
	font-family:"Trebuchet MS";
	width: 350px;
	height : 170px;
	margin : 6px; 
	border: 1px solid Blue;
    background-color: #f5f5f5;
}

input.msq[type=submit] {
    BACKGROUND-COLOR: #fff;
	margin-left : auto;
	margin-right : auto;
	width: 350px;
}



select {
	margin-top: 4px;
	border: 1px solid Blue;
    BACKGROUND-COLOR: #f5f5f5;
    line-height: 150%;
}
select[multiple=multiple] {

}
option {
	padding: 0 3px;
}
input[type=checkbox] {
	margin: 4px;
	width: auto;
}

input[type=hidden] {
 display : none;
}

input[type=submit] {
	padding: 2px 5px;
	/* margin-left : 10px;*/
	margin-top: 15px;
	margin-bottom: 15px;
	width: 300px;
	vertical-align: bottom;
}



/*  Menu  */

#tablist{
padding: 3px 0;
margin-left: 0;
margin-bottom: 0;
margin-top: 0.1em;
font: bold 12px Verdana;
border-bottom: 1px solid gray;
}

#tablist li{
list-style: none;
display: inline;
margin-right: 20px;
}

#tablist li a{
text-decoration: none;
padding: 3px 0.5em;
margin-right: 3px;
border: 1px solid #778;
border-bottom: none;
background: white;
}

#tablist li a:link, #tablist li a:visited{
color: navy;
}

#tablist li a:hover{
color: black;
background: #ffcc00;
border-color: navy;
}

#tablist li a.current{
background: lightyellow;
}

 div.auto_complete {
 position :absolute;
 width :250px;
 background-color :white;
  border :1px solid #888;
  margin :0px;
  padding :0px;
 }
 li.selected { background-color: #ffb; }


/* Tables  #a6e21b */
table {
	background-color: #fff;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	background-color: #f2f2f2;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	text-align: center;
}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a:hover {
	background-color: #ccc;
	color: #333;
	text-decoration: none;
}
table tr td {
	background: #fff;
	border-right: 1px solid #ccc;
	padding: 4px;
	text-align: center;
	vertical-align: top;
}
table tr.altrow td {
	background: #f4f4f4;
}
td.actions {
	text-align: center;
	white-space: nowrap;
}
td.actions a {
	display: inline;
	margin: 0px 6px;
}
.cake-sql-log table {
	background: #f4f4f4;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
}

/* Paging */
div.paging {
	color: #ccc;
	margin-bottom: 2em;
}
div.paging div.disabled {
	color: #ddd;
	display: inline;
}
div.paging span {
}
div.paging span.current {
	color: #000;
}
div.paging span a {
}

/* Notices and Errors */
div.message {
  border-top: 2px solid;
  border-bottom: 2px solid;
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  padding: 15px;
  background-color: #fff6bf;
  border-color: #ffd324;
  color: #993;
}
div.error-message {
	clear: both;
	color: #900;
	font-weight: bold;
	background-color: #ffcfcf;
    border-color: #d37474;

}
p.error {
	background-color: #e32;
	color: #fff;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	color: #000;
	font-weight: normal;
	line-height: 140%;
}
.notice {
	background-color: #ffcc00;
	color: #000;
	display: block;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	background-color: green;
	color: #FFF;
}

/*  Actions  */
div.actions ul {
	margin: 0px 0;
	padding: 0;
}
div.actions li {
	display: inline;
	list-style-type: none;
	line-height: 2em;
	margin: 0 2em 0 0;
	white-space: nowrap;
}
div.actions ul li a {
	color: #003d4c;
	text-decoration: none;
}
div.actions ul li a:hover {
	color: #333;
	text-decoration: underline;
}

/* Related */
div.related {
	clear: both;
	display: block;
}

/* Debugging */
pre {
	color: #000;
	background: #f0f0f0;
	padding: 1em;
}
pre.cake-debug {
	background: #ffcc00;
	font-size: 120%;
	line-height: 140%;
	margin-top: 1em;
	overflow: auto;
	position: relative;
}
div.cake-stack-trace {
	background: #fff;
	border: 4px dotted #ffcc00;
	color: #333;
	margin: 0px;
	padding: 6px;
	font-size: 120%;
	line-height: 140%;
	overflow: auto;
	position: relative;
}
div.cake-code-dump pre {
	position: relative;
	overflow: auto;
}
div.cake-stack-trace pre, div.cake-code-dump pre {
	color: #000000;
	background-color: #F0F0F0;
	margin: 0px;
	padding: 1em;
	overflow: auto;
}
div.cake-code-dump pre, div.cake-code-dump pre code {
	clear: both;
	font-size: 12px;
	line-height: 15px;
	margin: 4px 2px;
	padding: 4px;
	overflow: auto;
}
div.cake-code-dump span.code-highlight {
	background-color: #FFFF00;
	padding: 4px;
}

